html {
  font-weight: 300;
}

body {
  padding-top: 50px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

h3 {
  font-size: 20px;
}

a.anchor-link {
  display: none;
}

/* Announcement Pager */

.announcement-btn-older:hover, .announcement-btn-newer:hover {
  cursor: pointer;
}
.announcement {
  display: none;
}
.announcement .pager {
  text-align: left;
}

/* Calendar */

.calendar table, .calendar th, .calendar tr, .calendar td {
  border: 1px solid black;
}

.calendar th, .calendar tr, .calendar td {
  padding: 12px;
}

.calendar td.header {
  font-weight: 500;
}

.calendar tr.monday {
  background-color: #e6e8f2;
}

.calendar tr.wednesday {
  background-color: #ffffff;
}


/* Staff */

/*.staff th, .staff tr, .staff td {
  padding: 30px 40px 40px 0;
}*/

.th{
      -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: "Work Sans", sans-serif;
    font-size: 1.5em;
    border-spacing: 0;
    border-collapse: collapse;
    box-sizing: border-box;
    padding: 8px;
    line-height: 1.42857143;
    color: #0072c1;
    text-align: center;
    border-top: none;
    vertical-align: middle;
}
.table{
      -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    line-height: 1.42857143;
    color: #333;
    font-family: "Work Sans", sans-serif;
    font-size: 1.5em;
    box-sizing: border-box;
    border-spacing: 0;
    background-color: transparent;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.staff td {
  vertical-align: top;
  text-align: center;
}

.staff tr{
  border:0;
  border-top: 1px solid #eeeeee;
}

.biohover {
  color:#377bb5;
  text-decoration: underline
}

.staff .name .biohover .bio {
  visibility: hidden;
  width: 200px;
  background-color: #e7e7e7;
  color: #000;
  text-align: left;
  border-radius: 5px;
  padding: 5px 5px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}


.staff .name .biohover:hover .bio {
  visibility: visible;
}

.staff .name .biohover:active .bio {
  visibility: visible;
}